


.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    color: #fff;
}


.title-container > p {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: #fff;
    background-color: var(--order-btn);
    border-radius: 50%;
}

.title-container > div > p{
    color: #ccc;
}


ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
    background-color: var(--nav-bg);
    padding: 48px ;
    border-radius: 1rem;
}
li {
    border-bottom: 1px solid var(--order-btn);
    padding-bottom: 5px;
}
