*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {

    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 100vw;
    height: 100vh;
    font-family: "Outfit";
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

:root {
    --nav-bg: #263533;
    --order-btn: #DE3224;
    --bg-color: #327F81;
}

header{
    width: 100%;
    display: flex;
    background-color: var(--nav-bg);
    justify-content: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0009;
}

nav {
    display: flex;

}

nav button {
    width: 160px;
    padding: 14px 20px;
    background-color: inherit;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    transition:  0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
nav button:hover {
    background-color: #374d4a;
}




#content {
    display: flex;
    position: relative;
    width: 100%;
    background-image: url("./images/main-background.webp") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    justify-content: center;
    align-items: center;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    color: white;

}

.main h1 {
    font-size: 6.4rem;
    padding: 0;
    margin: 0;
    font-family: "Qatora";
    font-weight: 500;
}

.main p {
    font-size: 1.2rem;
    margin-bottom: 25px;
}
.order-container {
    display: flex;
    gap: 18px;
}
.main button {
    background-color: var(--order-btn);
    border: none;
    border-radius: 1rem;
    padding: 6px 24px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main button:hover {
    opacity: 0.9;
    box-shadow: 0px 0px 14px #888;
}

