*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    background-color: black ;
    position: relative;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    margin-left: 20px;    
}

.display-container { 
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 90vh;
    background: linear-gradient(250deg, rgb(239, 185, 26) 12%, rgb(150, 38, 207) 96%);
    align-items: center;
    justify-content: end;

}

.show-books {
    width: 90%;
    height: 70%;    
    background-color: #453f2e;
    margin-bottom: 40px;
    border-radius: 20px;
    overflow: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -15px;
}

.btn-container {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.new-book{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 32px;
    border-radius: 10px;
    border: 1px solid #ccc5;
    background: #453f2e;
    color: #fff;
    transition: 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 6px 12px 40px -10px;
    font-weight: 600;
}

.new-book:hover {
    background: linear-gradient(90deg, rgb(210, 209, 188) 30%, rgb(199, 171, 210) 70% ) ;
    border: 1px solid #0005;
    color: #000;
}


.form-container {
    background: linear-gradient(90deg, rgb(239, 185, 26) -15%, rgb(150, 38, 207) 120%);
    width: 25vw;
    height: 90vh;
    border-left: 4px solid #ba931e;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 55px;
}



form label {
    width: 60%;

}

form input {
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0008;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

form select {
    width: 100%;
    display: block;
    border-radius: 5px;
    padding: 10px;
}

form button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 32px;
    border-radius: 10px;
    border: 1px solid #ccc5;
    background: #453f2e;
    color: #fff;
    transition: 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 6px 12px 40px -10px;
    font-weight: 600;
    margin-top: 40px;
}
form button:hover {
    background: linear-gradient(90deg, rgb(210, 209, 188) 30%, rgb(199, 171, 210) 70% ) ;
    border: 1px solid #0005;
    color: #000;
    
}

.delete-book {
    position: relative;
    top: 4px;
    border: none;
    width: 30px;
    background: none;
    padding: 0;
}

.delete-book img {
    cursor: pointer;

}

.table {
    flex-direction: column;
    font-size: 1.1rem;
    width: 100%;
    max-height: 100%;
    text-align: center;
    border-collapse: collapse ;
    border-radius: 10px;
}


tr {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(210, 209, 188) 30%, rgb(199, 171, 210) 70% );
    border-bottom: 1px solid #0001;
}

tr:hover {
    filter: opacity(0.92);
}

